@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

.phone-list-fill{
    min-height: 326.4px;
    display: flex;
    justify-content: center;
    align-items: center;
}